
body{
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: gray;
}
.hamburger{
    display:none;
}

h2{
    font-size: 36px;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 40px;
}
nav{
    padding: 5px;
    background-color: black;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid rgb(174, 174, 174);
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav li {
    display: inline;
    margin-right: 10px;
    flex: 1; 
    text-align: center; 
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:hover {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
}
.about{
    background-color: rgb(141, 207, 205) ;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    border: 3px solid black;
}
.aboutimage{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutimage img{
    height:380px;
     width:330px;
    border-radius: 5px;   
}
.about p{
    
    text-align: justify;
    margin: 10px;
    padding: 10px;
}
.paper_published {
    text-align: center;
    margin: 10px;
    padding: 5px;
    background-color: #9eb0dc;
    border-radius: 10px;
    border: 3px solid black;
    overflow: auto;
}
.papers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-items: center;
}
.paper {
    max-width: 330px;
    text-align: center;
    padding: 10px;
}
.paper img {
    height: 300px;
    width: 250px;
    align-items: center;
    border-radius: 5px;
    overflow: auto;
}
.paper a {
    text-decoration: none;
    color: black;
}
.paper h3{
    text-align: center;
    text-decoration: none;
}
.hobbies{
    text-align: center;
    margin: 10px;
    padding: 0;
    background-color: #b0cca2;
    border-radius: 10px;
    border: 3px solid black;
    overflow: auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 5px;
    gap: 5px;
}
.hobby{
    border-radius: 5px;
    padding:15px;

    max-width: 330px;
    text-align: center;
    border: 1px;
}
.hobby img{
    height: 230px;
    width: 230px;
    border-radius: 5px;
    border: 1px solid black;
}
.hobby h3{
    margin-top: 10px;
}

.blogs{
    background-color: #aae6e4;;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid black;
}
.blogs p{
    
    text-align: justify;
    margin: 10px;
    padding: 10px;
}

@media only screen and (max-width: 600px) {

    .hamburger{
        position: relative;
        display:block;
        width: 35px;
        cursor:pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    .hamburger .bar, .hamburger:after, .hamburger::before{
        content: '';
        display: block;
        width:100%;
        height:5px;
        background-color: white;
        margin:5px 0px;
    }
    .mobile-nav.is-active{
        position: absolute;
        width: 200px;
        height: auto;
        display:inline-block;
        background-color:white;
        left: 15px;
        right: 15px;
    }
    .mobile-nav{
        display: none;
    }
    .mobile-nav a{
        display: block;
        text-align: center;
        margin:0 auto 2px;
        color:black;
        text-decoration: none;
    }
    .mobile-nav a:hover {
        width: 100%;
        background-color: black;
        color: white;
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        font-size: 16px;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutimage img {
        height: 250px;
        width: 200px; 
    }
    .paper img {
        height: 200px;
        width: 130px;
    }
}